* {
  margin: 0;
  font-family: "Gotham SSm", sans-serif;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
