footer {
  width: 100%;
  background-color: salmon;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: 5vh;
  font-size: 0.75rem;
  color: rgb(77, 77, 77);
}

footer > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer > div > p {
  padding: 0 0.5rem;
}

@media screen and (max-device-width: 684px) {
  footer {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
  }

  footer > div {
    display: flex;
    flex-direction: column;
  }

  footer > div > p {
    padding: 0.25rem 0rem;
  }
}
