header {
  width: 100%;
  position: fixed;
  top: 0;
  display: grid;
  align-items: center;
  text-align: center;
  grid-template-columns: 2fr 3fr 2fr;
  height: 6vh;
  font-size: 0.9rem;
}

.logoHeader {
  padding: 0 0.9rem;
  width: 120px;
  object-fit: cover;
  height: 6vh;
}

.textHeader_box {
  display: grid;
  align-items: center;
}

.productHeader_box > * {
  padding: 0.5rem 0.9rem;
  text-decoration: none;
  color: #171a20;
  transition: 300ms ease-in-out;
  border-radius: 5px;
}

.productHeader_box > *:hover {
  background-color: #8c8c8c25;
}

.menuHeader_box {
  display: flex;
  justify-self: end;
}

.menuHeader_box > *:hover {
  background-color: #8c8c8c25;
}

.menuHeader_box > * {
  padding: 0.5rem 0.9rem;
  text-decoration: none;
  color: #171a20;
  border-radius: 5px;
}

.menuHeader_button {
  margin-right: 0.9rem;
  background: none;
  border: 0px;
  font-size: 0.9rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1350px) {
  header {
    grid-template-columns: 2fr 3fr 2fr;
  }

  .productHeader_box > * {
    display: none;
  }

  .menuHeader_box > a {
    display: none;
  }

  .menuHeader_button {
    background-color: #8c8c8c25;
  }
}
