.Car_container {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  width: 100%;
  background: url("../assets/Homepage-Model-Y-Global-Desktop.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.Car_container2 {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  width: 100%;
  background: url("../assets/Homepage-Model-3-Desktop-LHD.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.Car_container3 {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  width: 100%;
  background: url("../assets/Model-S-homepage-desktop.jpg");
  background-position: 50% 50%;
  background-size: cover;
}
/*test*/
.Car_container4 {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  width: 100%;
  background: url("../assets/Homepage-Model-X-Desktop-LHD.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.Car_container5 {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  width: 100%;
  background: url("../assets/27d0055c-b0bf-476c-b3aa-ec59d314f871.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.Car_container6 {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  width: 100%;
  background: url("../assets/dd739764-bcaa-4263-9488-8c73bc9fb046.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.CarTitleBox {
  padding-top: 16vh;
}

.CarTitle {
  font-size: 2.5rem;
  font-weight: 350;
  margin: 0 auto;
  text-align: center;
  color: #171a20;
}

.CarReserve {
  font-size: 0.9rem;
  font-weight: 300;
  margin: 1vh auto;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  color: #171a20;
}

.CarInformationSup {
  font-size: 1rem;

  margin: 1vh auto;
  text-align: center;
  text-underline-offset: 0.3rem;
  color: #171a20;
}

.CarButtonBox {
  width: 100%;
  margin-top: 65vh;
  display: flex;
  justify-content: center;
}

.CarButtonBox > * {
  margin: 0 1rem;
  color: white;
  height: 4.5vh;
  min-width: 310px;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
}

.CarButtonBox > button:first-child {
  background-color: rgba(39, 39, 39, 0.886);
  border: 0;
}

.CarButtonBox > button:last-child {
  background-color: #e5e5e5b6;
  color: #171a20d1;
  border: 0;
}

.CarInformations {
  text-align: center;
  text-decoration: underline;
  margin-top: 2.5vh;
  font-size: 0.8rem;
  text-underline-offset: 0.2rem;
  color: #171a20;
}

@media screen and (max-device-width: 684px) {
  .CarButtonBox {
    flex-direction: column;
    margin-top: 58vh;
  }

  .CarButtonBox > * {
    width: 90%;
    margin: 0 auto;
  }

  .CarButtonBox > button:first-child {
    margin-bottom: 1rem;
  }
}
