.Car_container {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  width: 100%;
  background: url("../assets/Homepage-Model-Y-Global-Desktop.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.Car_container2 {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  width: 100%;
  background: url("../assets/Homepage-Model-3-Desktop-LHD.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.Car_container3 {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  width: 100%;
  background: url("../assets/Model-S-homepage-desktop.jpg");
  background-position: 50% 50%;
  background-size: cover;
}
/*test*/
.Car_container4 {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  width: 100%;
  background: url("../assets/Homepage-Model-X-Desktop-LHD.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.Car_container5 {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  width: 100%;
  background: url("../assets/27d0055c-b0bf-476c-b3aa-ec59d314f871.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.Car_container6 {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  width: 100%;
  background: url("../assets/dd739764-bcaa-4263-9488-8c73bc9fb046.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.CarTitleBox {
  padding-top: 16vh;
}

.CarTitle {
  font-size: 2.5rem;
  line-height: 2rem;
  font-weight: 350;
  margin: 0 auto;
  text-align: center;
  color: #171a20;
}

.CarReserve {
  font-size: 0.9rem;
  font-weight: 300;
  margin: 1vh auto;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  color: #171a20;
}

.CarInformationSup {
  font-size: 1rem;

  margin: 3vh auto;
  text-align: center;
  text-underline-offset: 0.3rem;
  color: #171a20;
}

.CarButtonBox {
  width: 100%;
  margin-top: 63vh;
  display: flex;
  justify-content: center;
}

.CarButtonBox > div > button {
  border: none;
  margin: 0 1rem;
  height: 4.5vh;
  min-width: 300px;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
}

.CarButtonBox > div:first-child > button {
  background-color: rgba(39, 39, 39, 0.886);
  color: white;
  border: 0;
}

.CarButtonBox > div:last-child > button {
  background-color: #e5e5e5b6;
  color: #171a20d1;
  border: 0;
}

.CarButtonBoxEnergy {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 60vh;
}

.CarButtonBoxEnergy > div > * {
  background-color: rgba(39, 39, 39, 0.886);
  color: white;
  border: 0;
  height: 4.5vh;
  font-weight: bold;
  width: 300px;
  font-size: 0.9rem;
  border-radius: 5px;
}
.CarButtonBoxAccesory {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 65vh;
}

.CarButtonBoxAccesory > div > button {
  background-color: rgba(39, 39, 39, 0.886);
  color: white;
  border: 0;
  margin: 0 1rem;
  height: 4.5vh;
  width: 300px;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
}

.CarInformations {
  text-align: center;
  text-decoration: underline;
  margin-top: 4vh;
  font-size: 0.8rem;
  text-underline-offset: 0.2rem;
  color: #171a20;
}

@media screen and (max-device-width: 684px) {
  .Car_container {
    background: url("../assets/Homepage-ModelY-LHD-Mobile.jpg");
    background-position: 50% 30%;
    background-size: cover;
    width: 100%;
  }

  .Car_container2 {
    background: url("../assets/Homepage-Model-3-LHD-Mobile.jpg");
    background-position: 50% 30%;
    background-size: cover;
    width: 100%;
  }

  .Car_container3 {
    background: url("../assets/Model-S-homepage-mobile.jpg");
    background-position: 50% 30%;
    background-size: cover;
    width: 100%;
  }
  /*test*/
  .Car_container4 {
    background: url("../assets/Homepage-Model-X-Mobile-LHD-v2-412.jpg");
    background-position: 50% 30%;
    background-size: cover;
    width: 100%;
  }

  .Car_container5 {
    background: url("../assets/Homepage-SolarPanels-Mobile.jpg");
    background-position: 50% 30%;
    background-size: cover;
    width: 100%;
  }

  .Car_container6 {
    background: url("../assets/Homepage-Accessories-Mobile.jpg");
    background-position: 50% 30%;
    background-size: cover;
    width: 100%;
  }

  .CarTitleBox {
    padding-top: 20vh;
  }

  .CarTitle {
    font-size: 2rem;
  }

  .CarReserve {
    font-size: 0.8rem;
  }

  .CarInformationSup {
    font-size: 0.8rem;
  }

  .CarButtonBox {
    flex-direction: column;
    margin-top: 52vh;
    overflow: hidden;
  }

  .CarButtonBox > div {
    margin: 1vh auto;
  }

  .CarButtonBox > div > * {
    width: 90%;
    margin: 0 auto;
  }

  .CarButtonBoxEnergy > * {
    width: 100%;
  }
  .CarButtonBoxEnergy > div > * {
    margin: 1vh auto;
    width: 90%;
  }

  .CarButtonBoxAccesory > div > * {
    width: 90%;
    margin: 0 auto;
  }

  .CarButtonBoxAccesory {
    margin-top: 50vh;
  }

  .CarButtonBox > button:first-child {
    margin-bottom: 1rem;
  }
}
